body{
    background-color: #efefef;
}
.navbar a{
    color: white;
}
a.nav-link.active{
    color: white !important;
}
.navbar .nav-link{
    color: rgb(214, 214, 214);
}
.limit-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}